@{
    ViewBag.Title = "About";
}


<link href="~/Style/StyleAbout.css" rel="stylesheet" />
  <!--about-->
<div id="about">
    <div id="aboutText" class="aboutElements">
        <p>

            <br><div class="CaptionAbout"> About Movie Rental</div><br>
            <b>Movie Rental</b>
            is the leading Movie rental company.<img src="~/pic/w.jpg" class="aboutPicRight">
            Phasellus eu odio ante. Sed ultricies elit nec tincidunt interdum. Maecenas a dui id ante gravida dapibus. 
            Sed nec nulla tristique, fringilla enim at, euismod metus. 
            Vivamus dui sem, dapibus vitae lacinia vel, cursus quis mauris. Nulla sit amet vulputate arcu.
            Pellentesque bibendum enim ex, non blandit felis efficitur nec. Ut vitae urna velit.
            Sed hendrerit enim ut lacus sollicitudin, sed facilisis lectus ultricies.
            Ut vel vehicula sem, quis bibendum massa. Aenean gravida volutpat massa, nec porttitor turpis posuere vitae. Morbi id dolor lacus.
            Pellentesque vitae nisl in nunc pharetra ultrices. Nullam viverra tellus sit amet odio consequat pulvinar. Mauris finibus quam vitae laoreet euismod.
            Vivamus sit amet gravida ante. Proin viverra urna a scelerisque ultricies. Nunc sed nibh tellus. Sed finibus ut justo at eleifend.
            Etiam dictum nisl imperdiet enim dictum, id viverra ante pulvinar. Vestibulum eget nunc mi. Suspendisse potenti. <img src="~/pic/j.jpg" class="aboutPicLeft">
            Pellentesque dignissim, ipsum eget dictum placerat, tellus lorem fermentum lacus, id maximus ligula tellus nec justo.
            Phasellus id est at felis pulvinar vulputate id ut dui. Fusce scelerisque in ex vel vehicula. Vivamus sed scelerisque metus.
            Nullam eget malesuada diam, id auctor ante. Nulla lectus purus, sagittis id ipsum id, aliquet hendrerit nulla.
            Aenean posuere, sapien eget rutrum ullamcorper, lacus libero pellentesque dui, vel commodo nisl nibh et neque.
            Vivamus sed velit ultrices, tempus velit quis, semper sapien. Ut bibendum tortor ultricies, accumsan eros at, placerat mi.
            Praesent in est nec lorem elementum lobortis vitae id nibh. Nunc congue egestas gravida.
            Short term Rentals<img src="~/pic/l.jpg" class="aboutPicRight">
            Deluxe CarRent caters to both tourists and local residents alike, with a wide range of newly updated private and commercial vehicles from recent
            years for rentals of up to one year.
            Avis has 19 rental offices spread throughout the country
            Deluxe CarRent offers its' customers, especially from within the business sector, long term rentals for a monthly repayment.
            In exchange the customer receives a service package which comprises of, in addition to a newly updated car, all insurances, test permits,
            accident/theft coverage, road services and replacement car services.
            Maecenas aliquam molestie nulla, fermentum consequat elit dapibus a. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Vivamus vitae tincidunt erat, a imperdiet est. Aliquam convallis massa eget tincidunt lacinia.
            Proin ullamcorper feugiat lorem bibendum varius.
            Donec tristique magna at tincidunt dictum. Sed quis commodo dolor. Curabitur vitae suscipit metus, a tempus felis.
            Quisque sed blandit dolor, a convallis urna. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
            Donec sed nisi fringilla, pulvinar elit non, finibus enim. Nunc eu tempus enim. Donec tristique neque sed convallis lobortis.
            Nullam metus massa, tincidunt a augue quis, rhoncus scelerisque augue.><img src="~/pic/p.jpg" class="aboutPicLeft">
            Proin porttitor massa sed mauris aliquam, vitae venenatis mi semper. Pellentesque cursus neque in eleifend hendrerit.
            Etiam ultrices placerat justo id euismod. Aliquam consectetur odio semper interdum hendrerit. Integer gravida tincidunt augue in finibus.
            Nam varius lacus dui, in venenatis justo cursus vel. Suspendisse blandit consequat augue ut convallis. Vivamus ut nisl in eros iaculis efficitur.
            Aliquam sit amet pharetra mi. Donec nec posuere erat. Nulla vehicula sapien urna, non luctus dui vestibulum nec.
            Cras aliquam sagittis tortor, eu vulputate mauris euismod sed.Nunc vitae ex ipsum. Donec tincidunt fermentum purus at facilisis.
            Mauris eu porta odio. In auctor, tellus et finibus imperdiet, arcu purus porttitor tortor, vitae malesuada neque eros eget metus. Nam magna nunc.
        </p>
    </div>
</div>