@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>


<address>
    Stefan Gegel.<br />
     Israel. Ashdod, Keren Hayasod 7/17.<br />
    <abbr title="Phone">P: 053-6249969</abbr>
    
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:stefan86g@gmail.com">stefan86g@gmail.com</a><br />
    
</address>